.signUpHeader {
  background-color: var(--customer-primary-color);
}

.signUpHeaderTitle {
  color: white !important;
}

ion-label {
  color: gray;
}

ion-input {
  color: var(--font-color);
}
