/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
/* For styling datatables */
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";

/* For styling modal */
.create-outlet-modal-css {
  .modal-wrapper {
    height: 55%;
    width: 60%;
  }
}

.edit-outlet-modal-css {
  .modal-wrapper {
    height: 55%;
    width: 60%;
  }
}

.transaction-history-modal {
  --width: 60% !important;
}

.adjust-subscription-modal {
  --width: 40% !important;
  --height: 40% !important;
}

.ion-item-no-padding {
  --padding-end: 0px;
  --inner-padding-end: 0px;
}

.borderless-ion-card {
  box-shadow: none !important;
}

.large-alert {
  --min-width: 400px;
  --max-width: 400px;
  --width: 400px;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 20%;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}