<ion-header>
  <ion-toolbar class="customer-header-background-color">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/customer/profile"
        style="color: white"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-row
        class="ion-align-items-end ion-justify-content-center"
        style="color: white"
      >
        My Addresses
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list
          *ngFor="let address of myAddresses"
          style="column-span: all"
          (click)="directToSpecificAddress(address._id)"
        >
          <ion-item
            class="ion-align-items-center"
            size="10"
            lines="full"
            style="border-color: black"
          >
            <ion-col>
              &nbsp;
              <ion-row>
                <span style="font-size: large"
                  ><b>{{address.addressDetails}}</b></span
                >
              </ion-row>
              &nbsp;
              <ion-row>
                <ion-col>
                  <ion-text>
                    <span>SG {{address.postalCode}}</span>
                  </ion-text>
                </ion-col>
                <ion-col *ngIf="address.isDefault" style="margin-left: 40%">
                  <ion-text>
                    <span style="color: #ee4444">[Default]</span>
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <br />

    <ion-row
      style="border: 0.1px solid gray; border-left: none; border-right: none"
    >
      <ion-col>
        <ion-text style="font-weight: normal; margin-left: 10%">
          Add A New Address
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-icon
          style="margin-left: 80%"
          name="add-outline"
          (click)="addNewAddress()"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
