<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Hawker Account Upgrade Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs #tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="deluxeAcctsUpgrade" style="width: 50%">
        <ion-text style="font-size: 13px">
          Deluxe Account Upgrade Requests 
        </ion-text>
      </ion-tab-button>
      <ion-tab-button tab="deluxeAcctsViewAll" style="width: 50%">
        <ion-text style="font-size: 13px"> 
          View All Deluxe Accounts 
        </ion-text>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
