.menu-categories-segment{
    padding: 3px;
    // --color-checked: var(--hawker-tertiary-color);
}

.menu-categories-segment-box{
    // margin-left: 10px;
}

.food-card {
    width: 98% !important;
}

ion-thumbnail {
    width: 150px;
    height: 150px;
}

.item-name {
    font-size: large;
}


.item-cat-badge {
    --background: var(--hawker-primary-color);
}

.food-bundle-card{
    width: 350px;
    height: 130px;
}
