<ion-header>
  <ion-toolbar class="hawker-header-background-color">
    <ion-row class="ion-align-items-end ion-justify-content-center">
      <img src="../../assets/Logo - White.svg" width="25%" height="25%" />
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-button size="large" type="button" [routerLink]="['/hawker/profile/digital-wallet/linked-payment-methods']" fill="clear"
      >
      <ion-icon size="large" style="color: #ee4444" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-label style="font-weight: bold; font-size: large; margin-top: 6%;"> Card Details
    </ion-label>
  </ion-row>
  <form [formGroup]="cardForm" (ngSubmit)="updateDetails()">
    <ion-grid style="padding: 1rem">
  
      <ion-item class="ion-align-items-start" size="10" lines="full" style="border-color: black;">
        <ion-col>
          &nbsp;
          <ion-row>
            <ion-text>
            <span style="font-size: large;"><b>Card Type:</b></span>
          </ion-text>
          </ion-row> 
          <ion-row>
            <ion-text>
            <span style="font-size: large;">{{card?.cardType}}</span>
          </ion-text>
          </ion-row> 
          &nbsp;
          <ion-row>
            <ion-text>
            <span style="font-size: large;"><b>Card Number: </b></span>
          </ion-text>
          </ion-row>
          <ion-row>
            <ion-text>
            <span style="font-size: large;">{{card?.cardNumber}}</span>
          </ion-text>
          </ion-row>
        </ion-col>
      </ion-item>

      <ion-row>
        <ion-col size="9">
          <ion-text style="font-weight: normal;">
          Set as Default Card
          </ion-text>
        </ion-col>
        <ion-col >
          <ion-toggle style="margin-left: 30%;" formControlName = "isDefault" (ngModelChange)="checkFormValid()" (ionChange)="changeDefault($event)"></ion-toggle>
        </ion-col>
      </ion-row>
    
      <br />
      <br />
      <div style="display: flex; justify-content: center;">
        <ion-row>
          <ion-col>
            <ion-button color="primary" type="submit" [class.button-disabled]="!formValid">
              Update Card
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="danger"  (click)="showDeleteAlert()">
              Delete Card
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </form>
</ion-content>
