<ion-header>
  <ion-card-header class="topBar">
    <ion-row class="ion-align-items-end ion-justify-content-center">
      <img src="../../assets/Logo - White.svg" width="40%" height="40%" />
    </ion-row>
  </ion-card-header>
</ion-header>

<ion-content>
  <ion-row>
    <ion-button size="large" type="button" [routerLink]="['/customer/profile/user-address']" fill="clear"
      >
      <ion-icon size="large" style="color: #ee4444" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-label style="font-weight: bold; font-size: large; margin-left: 12%; margin-top: 6%;"> Address Details
    </ion-label>
  </ion-row>
  <form [formGroup]="addressForm" (ngSubmit)="updateDetails()">
    <ion-grid style="padding: 1rem">
  
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked" style="width: 100%">Address Details</ion-label>
            <ion-input formControlName="addressDetails" type="text" (ngModelChange)="checkFormValid()"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <!-- Error Message - Name -->
          <span *ngIf="errorControl.addressDetails.errors?.required" style="color: #ee4444; padding-left: 1rem">
            Details of Address required.</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Postal Code</ion-label>
            <ion-input formControlName="postalCode" type="text" (ngModelChange)="checkFormValid()"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>

        </ion-col>
        <ion-col size="12">
          <span *ngIf="errorControl.postalCode.errors?.required" style="color: #ee4444; padding-left: 1rem">
            Postal Code should have 6 digits.</span>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-text style="font-weight: normal;">
          Set as Default Address
          </ion-text>
        </ion-col>
        <ion-col >
          <ion-toggle style="margin-left: 30%;" formControlName = "isDefault" (ngModelChange)="checkFormValid()" (ionChange)="changeDefault($event)"></ion-toggle>
        </ion-col>
      </ion-row>
    
      <br />
      <br />
      <div style="display: flex; justify-content: center;">
        <ion-row>
          <ion-col>
            <ion-button color="primary" type="submit" [class.button-disabled]="!formValid">
              Update Address
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="danger"  (click)="showDeleteAlert()">
              Delete Address
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </form>
</ion-content>
