.ion-item-border {
  border-radius: 20px !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: grey;
  width: 100%;
}

.popover-button {
  // border: solid 1px white;
  border-radius: 5px;
  font-size: large;
}
