<ion-header class="ion-no-border">
  <ion-toolbar class="customer-header-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/customer/profile" style="color:white;"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">
      My Digital Wallet
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showPopOver($event)">
        <ion-icon name="ellipsis-horizontal-outline" style="color:white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-border">
  <ion-grid style="background-color: #ee4444;">
    <ion-row>&nbsp;</ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size=1>
      </ion-col>
      <ion-col size=6.5>
        <ion-label style="color: white; font-size:medium">Wallet Balance</ion-label>
      </ion-col>
      <ion-col size=3.5>
        <ion-button (click)="presentCashbackModal()"
          style="--background: white; height: 38px; --background-hover: white; width:130px;">
          <ion-icon name="gift-outline" style="color: #ee4444;"></ion-icon>
          &nbsp;
          <ion-label style="color: #ee4444;">Cashback</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=1>
      </ion-col>
      <ion-col size=6.5>
        <ion-label style="color: white; font-size:xx-large">{{ wallet.balance |  currency: 'USD'}}</ion-label>
      </ion-col>
      <ion-col size=3.5>
        <ion-button (click)="presentTopUpModal()"
          style="--background: white; height: 38px; --background-hover: white; width:130px;"
          [class.button-disabled]="!user.cards"
          >
          <ion-icon name="wallet-outline" style="color: #ee4444;"></ion-icon>
          &nbsp;
          <ion-label style="color: #ee4444;">Top Up</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=1>
      </ion-col>
      <ion-col size=6.5>
        <ion-label style="color: white;"> Pending payment: {{ pendingOrderPayment |  currency: 'USD'}}</ion-label>
      </ion-col>
      <ion-col size=3.5>
      </ion-col>
    </ion-row>
    <ion-row>&nbsp;</ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size=0.5></ion-col>
      <ion-col size=11>
        <ion-segment scrollable="true" [(ngModel)]="segmentModel">
          <ion-segment-button value="top-up" class="segment-active-inactive">
            <ion-label>Top up</ion-label>
          </ion-segment-button>
          <ion-segment-button value="order" class="segment-active-inactive">
            <ion-label>Order</ion-label>
          </ion-segment-button>
          <ion-segment-button value="refund" class="segment-active-inactive">
            <ion-label>Refund</ion-label>
          </ion-segment-button>
          <ion-segment-button value="delivery" class="segment-active-inactive">
            <ion-label>Delivery</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size=0.5></ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center" *ngIf="segmentModel === 'top-up'">
      <ion-col size=0.5></ion-col>
      <ion-col size=7.5>
        <ion-label class="ion-padding" style="font-size: medium; font-weight: bold;">Top up Transactions</ion-label>
      </ion-col>
      <ion-col size=1>
        <ion-button class="button-has-icon-only" fill="clear" (click)="monthSelect.open()">
          <ion-icon name="funnel-outline"> </ion-icon>
        </ion-button>
        <ion-select [(ngModel)]="selectedMonth" #monthSelect class="ion-hide"
          (ionChange)="filterTransactionsByMonths();">
          <ion-select-option *ngFor="let month of allFilterMonths" [value]="month">{{month}}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size=1>
        <ion-button class="button-has-icon-only" fill="clear" (click)="sortCategorySelect.open()">
          <ion-icon name="filter"> </ion-icon>
        </ion-button>
        <ion-select [(ngModel)]="selectedSortCategory" #sortCategorySelect class="ion-hide"
          (ionChange)="filterTransactionsBySortCategory();">
          <ion-select-option *ngFor="let item of allSortCategories" [value]="item">{{item}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="segmentModel === 'top-up' && groupedTransactions.length === 0" style="height:50%">
      <ion-col style="display:flex; justify-content: center;">
        <span style="font-weight:normal;padding-top:20px;align-self: center;">
          There are no transactions yet
        </span>
      </ion-col>
    </ion-row>

    <div *ngIf="segmentModel === 'top-up'">
      <ion-row *ngFor="let gt of groupedTransactions;">
        <ion-col size=0.5></ion-col>
        <ion-col size=11>
          <ion-text class="ion-padding">{{gt.transactionDate}}</ion-text>
          <ion-card *ngFor="let t of gt.transactions">

            <!-- TOP UP TRANSACTIONS -->
            <ion-card-content style="display:flex"
              (click)="viewTransactionDetails(t.transactionType, gt.transactionDate, t)">
              <div style="flex:2">
                <ion-card-title style="font-size:15px">{{t.transactionType}}</ion-card-title>
                <ion-card-subtitle>{{t.transactionDate | date: 'h:mm aaa'}} </ion-card-subtitle>
              </div>
              <div style="display:flex; flex:1; justify-content: flex-end;flex-direction: column;">
                <ion-label style="align-self: flex-end; color:green; font-size:15px;">
                  + {{t.topUpAmount | currency: 'USD'}}
                </ion-label>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size=0.5></ion-col>
      </ion-row>
    </div>

    <ion-row class="ion-align-items-center" *ngIf="segmentModel === 'order'">
      <ion-col size=0.5></ion-col>
      <ion-col size=7.5>
        <ion-label class="ion-padding" style="font-size: medium; font-weight: bold;">Order Transactions</ion-label>
      </ion-col>
      <ion-col size=1>
        <ion-button class="button-has-icon-only" fill="clear" (click)="orderMonthSelect.open()">
          <ion-icon name="funnel-outline"> </ion-icon>
        </ion-button>
        <ion-select [(ngModel)]="selectedOrderMonth" #orderMonthSelect class="ion-hide"
          (ionChange)="filterOrderTransactionsByMonths();">
          <ion-select-option *ngFor="let month of allFilterMonths" [value]="month">{{month}}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size=1>
        <ion-button class="button-has-icon-only" fill="clear" (click)="sortOrderCategorySelect.open()">
          <ion-icon name="filter"> </ion-icon>
        </ion-button>
        <ion-select [(ngModel)]="selectedSortOrderCategory" #sortOrderCategorySelect class="ion-hide"
          (ionChange)="filterOrderTransactionsBySortCategory();">
          <ion-select-option *ngFor="let item of allSortCategories" [value]="item">{{item}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="segmentModel === 'order' && groupedOrderTransactions.length === 0" style="height:50%">
      <ion-col style="display:flex; justify-content: center;">
        <span style="font-weight:normal;padding-top:20px;align-self: center;">
          There are no transactions yet
        </span>
      </ion-col>
    </ion-row>

    <div *ngIf="segmentModel === 'order'">
      <ion-row *ngFor="let got of groupedOrderTransactions;">
        <ion-col size=0.5></ion-col>
        <ion-col size=11>
          <ion-text class="ion-padding">{{got.transactionDate}}</ion-text>
          <ion-card *ngFor="let t of got.transactions">

            <!-- ORDER TRANSACTIONS -->
            <ion-card-content style="display:flex"
              (click)="viewTransactionDetails(t.transactionType, got.transactionDate, t)">
              <div style="flex:2">
                <ion-card-title style="font-size:15px">{{t.transactionType}} #{{t.order._id.substr(t.order._id.length-5)
                  | uppercase}}</ion-card-title>
                <ion-card-subtitle>{{t.transactionDate | date: 'h:mm aaa'}} </ion-card-subtitle>
              </div>
              <div style="display:flex; flex:1; justify-content: flex-end;flex-direction: column;">
                <ion-label style="align-self: flex-end; color:red; font-size:15px;">
                  -{{t.paidNonCashbackAmount | currency: 'USD'}}
                </ion-label>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size=0.5></ion-col>
      </ion-row>
    </div>

    <ion-row class="ion-align-items-center" *ngIf="segmentModel === 'refund'">
      <ion-col size=0.5></ion-col>
      <ion-col size=7.5>
        <ion-label class="ion-padding" style="font-size: medium; font-weight: bold;">Refund Transactions</ion-label>
      </ion-col>
      <ion-col size=0.5>
        <ion-button class="button-has-icon-only" fill="clear" (click)="refundMonthSelect.open()">
          <ion-icon name="funnel-outline"> </ion-icon>
        </ion-button>
        <ion-select [(ngModel)]="selectedRefundMonth" #refundMonthSelect class="ion-hide"
          (ionChange)="filterRefundTransactionsByMonths();">
          <ion-select-option *ngFor="let month of allFilterMonths" [value]="month">{{month}}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size=0.5>
        <ion-button class="button-has-icon-only" fill="clear" (click)="sortRefundCategorySelect.open()">
          <ion-icon name="filter"> </ion-icon>
        </ion-button>
        <ion-select [(ngModel)]="selectedSortRefundCategory" #sortRefundCategorySelect class="ion-hide"
          (ionChange)="filterRefundTransactionsBySortCategory();">
          <ion-select-option *ngFor="let item of allSortCategories" [value]="item">{{item}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="segmentModel === 'refund' && groupedRefundTransactions.length === 0" style="height:50%">
      <ion-col style="display:flex; justify-content: center;">
        <span style="font-weight:normal;padding-top:20px;align-self: center;">
          There are no transactions yet
        </span>
      </ion-col>
    </ion-row>

    <div *ngIf="segmentModel === 'refund'">
      <ion-row *ngFor="let grt of groupedRefundTransactions;">
        <ion-col size=0.5></ion-col>
        <ion-col size=11>
          <ion-text class="ion-padding">{{grt.transactionDate}}</ion-text>
          <ion-card *ngFor="let t of grt.transactions">

            <!-- ORDER TRANSACTIONS -->
            <ion-card-content style="display:flex"
              (click)="viewTransactionDetails(t.transactionType, grt.transactionDate, t)">
              <div style="flex:2">
                <ion-card-title style="font-size:15px">
                  {{t.transactionType}}
                </ion-card-title>
                <ion-card-subtitle>{{t.transactionDate | date: 'h:mm aaa'}} </ion-card-subtitle>
              </div>
              <div style="display:flex; flex:1; justify-content: flex-end;flex-direction: column;">
                <ion-label style="align-self: flex-end; color:green; font-size:15px;">
                  + {{t.refundedAmount | currency: 'USD'}}
                </ion-label>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size=0.5></ion-col>
      </ion-row>
    </div>

    <!-- Delivery -->
    <ion-row class="ion-align-items-center" *ngIf="segmentModel === 'delivery'">
      <ion-col size=0.5></ion-col>
      <ion-col size=7.5>
        <ion-label class="ion-padding" style="font-size: medium; font-weight: bold;">Delivery Transactions</ion-label>
      </ion-col>
      <ion-col size=1>
        <ion-button class="button-has-icon-only" fill="clear" (click)="monthSelect.open()">
          <ion-icon name="funnel-outline"> </ion-icon>
        </ion-button>
        <ion-select [(ngModel)]="selectedDeliveryMonth" #monthSelect class="ion-hide"
          (ionChange)="filterDeliveryTransactionsByMonths();">
          <ion-select-option *ngFor="let month of allFilterMonths" [value]="month">{{month}}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size=1>
        <ion-button class="button-has-icon-only" fill="clear" (click)="sortCategorySelect.open()">
          <ion-icon name="filter"> </ion-icon>
        </ion-button>
        <ion-select [(ngModel)]="selectedSortDeliveryCategory" #sortCategorySelect class="ion-hide"
          (ionChange)="filterDeliveryTransactionsBySortCategory();">
          <ion-select-option *ngFor="let item of allSortCategories" [value]="item">{{item}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="segmentModel === 'delivery' && groupedDeliveryTransactions.length === 0" style="height:50%">
      <ion-col style="display:flex; justify-content: center;">
        <span style="font-weight:normal;padding-top:20px;align-self: center;">
          There are no transactions yet
        </span>
      </ion-col>
    </ion-row>

    <div *ngIf="segmentModel === 'delivery'">
      <ion-row *ngFor="let gt of groupedDeliveryTransactions;">
        <ion-col size=0.5></ion-col>
        <ion-col size=11>
          <ion-text class="ion-padding">{{gt.transactionDate}}</ion-text>
          <ion-card *ngFor="let t of gt.transactions">

            <!-- DELIVERY TRANSACTIONS -->
            <ion-card-content style="display:flex"
              (click)="viewTransactionDetails(t.transactionType, gt.transactionDate, t)">
              <div style="flex:2">
                <ion-card-title style="font-size:15px">{{t.transactionType}}</ion-card-title>
                <ion-card-subtitle>{{t.transactionDate | date: 'h:mm aaa'}} </ion-card-subtitle>
              </div>
              <div style="display:flex; flex:1; justify-content: flex-end;flex-direction: column;">
                <ion-label style="align-self: flex-end; color:green; font-size:15px;">
                  + {{t.deliveryEarning | currency: 'USD'}}
                </ion-label>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size=0.5></ion-col>
      </ion-row>
    </div>

  </ion-grid>
</ion-content>
