<ion-header>
  <ion-toolbar class="customer-header-background-color">
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close" style="color: white"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-row class="ion-align-items-center ion-justify-content-end">
      <ion-title style="color: white">
        Delivery Order #{{ order._id.substring(order._id.length - 5) }}
      </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="fill" style="padding-top: 5%">
    <ion-icon
      *ngFor="let number of [0, 1, 2, 3, 4, 5]"
      name="bicycle-outline"
      style="font-size: xx-large"
    ></ion-icon
    >&nbsp;&nbsp;&nbsp;
  </div>
  <ion-grid style="margin-top: -10%">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-row
                class="ion-justify-content-between ion-align-items-center"
              >
                <ion-text
                  color="dark"
                  style="font-weight: bold; font-size: medium"
                >
                  {{ order.outlet.outletName }}
                </ion-text>
                <div [ngSwitch]="order.orderStatus">
                  <ion-badge *ngSwitchCase="'UNPAID'" color="warning">{{
                    order.orderStatus
                  }}</ion-badge>
                  <ion-badge *ngSwitchCase="'CANCELLED'" color="danger">{{
                    order.orderStatus
                  }}</ion-badge>
                  <ion-badge *ngSwitchDefault color="success">{{
                    order.orderStatus.split("_").join(" ")
                  }}</ion-badge>
                </div>
              </ion-row>
            </ion-card-title>
            <ion-card-subtitle>
              {{ order.outlet.outletAddress }}
            </ion-card-subtitle>
            <br />

            <ion-row style="margin-top: 5px" class="ion-align-items-center">
              <ion-icon name="card" style="color: coral"></ion-icon>&nbsp;
              {{
                order.deliveryFee - order.deliveryCommission | currency: "USD"
              }}
              delivery fee
            </ion-row>

            <ion-row style="margin-top: 5px" class="ion-align-items-center">
              <ion-icon name="cart" style="color: coral"></ion-icon
              >&nbsp;&nbsp;{{ getTotalOrderItems() }}&nbsp;
              <span *ngIf="getTotalOrderItems() > 1"> Items </span>
              <span *ngIf="getTotalOrderItems() === 1"> Item </span>
            </ion-row>

            <ion-row
              style="margin-top: 5px"
              class="ion-align-items-center"
              *ngIf="order.orderPickUpTime"
            >
              <ion-icon name="alarm-outline" style="color: coral"></ion-icon
              >&nbsp; Pick up time @
              {{ order.orderPickUpTime | date: "dd/MM hh:mm" }}
            </ion-row>

            <ion-col>
              <div
                style="
                  display: flex;
                  justify-content: start;
                  align-content: center;
                "
              >
                <ion-avatar>
                  <ion-img
                    *ngIf="user.profileImgSrc !== ''"
                    src="{{ baseUrl }}/{{ user.profileImgSrc }}"
                  ></ion-img>
                  <ion-img
                    *ngIf="user.profileImgSrc === ''"
                    src="/assets/Profile Picture.svg"
                    aria-label="Image Placeholder"
                  >
                  </ion-img>
                </ion-avatar>
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    padding-left: 5%;
                  "
                >
                  <ion-text style="font-weight: bold; font-size: medium">
                    {{ order.customer.name }}
                  </ion-text>
                  <ion-text
                    class="ion-align-items-center"
                    style="padding-top: 2%"
                  >
                    {{ formatDeliveryAddress() }}
                  </ion-text>
                </div>
              </div>
            </ion-col>

            <ion-row
              *ngIf="this.order.orderStatus === 'DELIVERED'"
              class="ion-align-items-center"
            >
              <ion-text style="font-size: x-small">
                <ion-icon name="information-circle-outline"></ion-icon>
                If you have successfully delivered the order, please wait for
                the customer to confirm
              </ion-text>
            </ion-row>
          </ion-card-header>
        </ion-card>

        <ion-row style="margin-top: 10px">
          <ion-col>
            <ion-card class="borderless-ion-card">
              <ion-row>
                <ion-card-title style="color: black; font-weight: bold">
                  Order Items
                </ion-card-title>
                <ion-chip *ngIf="order.deliverer" color="danger" (click)="openReportModal()">
                  <ion-label style="display: flex; align-items: center">
                    <ion-icon
                      slot="start"
                      name="alert-circle"
                      style="padding: 0 3px"
                    ></ion-icon
                    >Report
                  </ion-label>
                </ion-chip>
              </ion-row>
              <br />
              <ion-row *ngFor="let indiOrderItem of order.individualOrderItems">
                <ion-col size="1">
                  <ion-text style="color: black; font-weight: bold">
                    {{ indiOrderItem.itemQuantity }}x
                  </ion-text>
                </ion-col>
                <ion-col size="8">
                  <ion-label label style="color: black; font-size: medium">
                    {{ indiOrderItem.foodItem.itemName }}
                  </ion-label>
                  <ion-row>
                    <ion-col>
                      <div
                        style="display: flex; flex-direction: column"
                        *ngFor="
                          let customization of indiOrderItem.selectedCustomizations
                        "
                      >
                        {{ customization.selectedOption.optionName }}:
                        {{
                          customization.selectedOption.optionCharge
                            | currency: "USD"
                        }}
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="3" style="text-align: right;">
                  <ion-text
                    style="color: black; font-weight: bold; font-size: small;"
                  >
                    {{ indiOrderItem.itemSubtotal | currency: "USD" }}
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row
                *ngFor="let bundleOrderItem of order.foodBundleOrderItems"
              >
                <ion-col size="1">
                  <ion-text style="color: black; font-weight: bold">
                    {{ bundleOrderItem.bundleQuantity }}x
                  </ion-text>
                </ion-col>
                <ion-col size="8">
                  <ion-row>
                    <ion-label style="color: black; font-size: medium">
                      {{ bundleOrderItem.bundleName }}
                    </ion-label>
                  </ion-row>
                  <ion-row
                    *ngFor="let orderItem of bundleOrderItem.bundleItems"
                  >
                    <ion-col>
                      <ion-label label style="color: black; font-size: small">
                        {{ orderItem.foodItem.itemName }}
                      </ion-label>
                      <div
                        style="
                          display: flex;
                          flex-direction: column;
                          font-size: small;
                        "
                        *ngFor="
                          let customization of orderItem.selectedCustomizations
                        "
                      >
                        {{ customization.selectedOption.optionName }}:
                        {{
                          customization.selectedOption.optionCharge
                            | currency: "USD"
                        }}
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="3">
                  <ion-text style="color: black; font-size: small">
                    {{ bundleOrderItem.bundleSubtotal | currency: "USD" }}
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer style="border-top: 1px dotted gray; background-color: #fdfdfd">
  <ion-row style="margin-top: 10px">
    <ion-col style="padding-bottom: 0">
      <ion-card
        class="borderless-ion-card"
        style="margin: 0; background-color: #fdfdfd"
      >
        <ion-row>
          <ion-col size="7">
            <ion-row>
              <ion-card-title style="color: black; font-weight: bold">
                Order Total:</ion-card-title
              >
            </ion-row>
          </ion-col>
          <ion-col size="5">
            <ion-row class="ion-justify-content-end">
              <ion-card-title>
                {{ order.totalPrice | currency: "USD" }}
              </ion-card-title>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-button
    expand="block"
    color="success"
    *ngIf="nextOrderStatus !== undefined"
    (click)="updateOrderStatus()"
  >
    Mark order as {{ nextOrderStatus.toLowerCase().split("_").join(" ") }}
  </ion-button>
  <ion-button
    expand="block"
    color="success"
    *ngIf="canAcceptDeliveryOrder()"
    (click)="acceptDelivery()"
  >
    Accept Delivery
  </ion-button>
  <ion-button
    expand="block"
    color="warning"
    *ngIf="canCancelDeliveryOrder()"
    (click)="cancelDeliveryForOrder()"
  >
    Cancel Delivery
  </ion-button>
</ion-footer>
