#edit-outlet-button{
    --background: var(--hawker-secondary-color);
    --color: var(--hawker-primary-color);
    font-size: medium;
}

.cuisine-type-badge{
    background-color: #ff9050;
}

.hawker-toolbar-title,
.hawker-toolbar-button{
    color: white;
}