<ion-header>
  <ion-toolbar class="hawker-header-background-color">
    <ion-buttons slot="start" class="hawker-toolbar-button">
      <ion-back-button defaultHref="/hawker/profile/hawkertier/choose-plan"></ion-back-button>
    </ion-buttons>
    <ion-title class="hawker-toolbar-title">Confirm Subscription Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>New Plan: </ion-label>
          <ion-text>{{newAccountTier}}</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            New Subscription Payment:
            <br/>
            <span style="font-size:15px;color:gray">
              Payment made at the end of each month will be pro-rated from the day the new plan is activated
            </span>
          </ion-label>
          <ion-text>S${{subscriptionFee | number : '1.2-2'}} /month</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="newAccountTier !== 'FREE'">
      <ion-col *ngIf="creditCards">
        <ion-item>
          <ion-label>
            Credit Card:
            <br/>
            <span style="font-size:15px;color:gray">
              Selected card will be set as the default credit card
            </span>
          </ion-label>
          <ion-select [interfaceOptions]="selectOptions" class="select" placeholder="Select One" [(ngModel)]="selectedCreditCardId">
            <ion-select-option *ngFor="let cc of creditCards" value="{{cc._id}}">
              {{cc.cardName}}, {{cc.cardType}} *{{cc.cardNumber.substr(cc.cardNumber.length-4)}}
              <ion-label *ngIf="cc.isDefault" >[Default]</ion-label>
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <div *ngIf="newAccountTier === 'DELUXE'">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>
              Master Outlet:
              <br/>
              <span style="font-size:15px;color:gray">
                Current Outlet will be set as the master outlet
              </span>
            </ion-label>
            <ion-text>
              {{masterOutlet.outletName}}
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>
              Upload Supporting Documents For Outlet Creation:
            </ion-label>
            <input
              class="ion-hide"
              name="file"
              #file
              type="file"
              multiple="multiple"
              (change)="onFileChange($event)"
              accept="image/*,.doc, .docx,.txt,.pdf"
            />
            <ion-button
              size="small"
              (click)="file.click()"
            >
              Upload File
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <ion-item>
            <ion-label>Uploaded Files:</ion-label>
            <ion-list *ngFor="let item of files; let i = index">
              <ion-item-sliding>
                <ion-item>
                  <ion-label>{{i + 1}}. {{item.name}}</ion-label>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option (click)="removeFile(i)">
                    <ion-icon
                      slot="icon-only"
                      name="trash-outline"
                    ></ion-icon>
                    DELETE
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-button disabled="{{disable()}}" (click)="confirm()"
        >Confirm
        <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>