ion-range::part(pin) {
    transform: translate3d(0px, -24px, 0px) scale(1);
    -webkit-transform: translate3d(0px, -24px, 0px) scale(1);
    -ms-transform: translate3d(0px, -24px, 0px) scale(1);
    -moz-transform: translate3d(0px, -24px, 0px) scale(1);
    -o-transform: translate3d(0px, -24px, 0px) scale(1);
}