ion-input {
  text-align: end;
}

.label {
  font-weight: bold;
  padding: 0.5rem 2rem 0.5rem 5rem;
}

.mc-name-badge {
  font-size: 1rem;
  background-color: var(--hawker-primary-color);
}

.mc-items-number {
  font-weight: bold;
}
