.imgButton {
  --border-width: 1px;
  --border-color: var(--ion-color-light-shade);
  --border-style: solid;
  --padding-start: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-top: 0;

  --border-radius: 50%;
  height: 26px;
  width: 26px;

  position: absolute;
  right: -10px;
  bottom: -10px;
  left: 57%;

  ion-icon {
    width: 14px;
    height: 14px;
  }
}

ion-grid {
  ion-input, ion-textarea {
    background-color:#f9f9f9;
    --padding-end: 12px;
    border-radius: 12px;
  }
}

ion-grid {
  ion-text {
    --padding-end: 12px;
  }
}

.grid {
  ion-item {
    font-size: 14px;
  }
}

.grid-card {
  width: 100%;
  ion-label {
    font-size: 13px;
  }
}

