.login-content {
    margin-top:100px
}

.login-card {
    padding: 10px
}

.login-itm-input {
    margin-bottom:20px;
}

.login-itm-input ion-input {
    margin-top:10px;
}

.login-error {
    display:flex;
    margin-left:10px;
    margin-bottom:10px;
    color: red
}

.login-logo, .login-header {
    display:flex;
    justify-content:center
}
