.topBar {
  background: var(--customer-primary-color);
}

ion-avatar {
  position: relative;
  min-width: 120px;
  min-height: 120px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 4px 4px 12px 0px #5a5a5a;
    top: 0;
    left: 0;
  }
}
